/***** Table *****/

table, th, td {
    border: 1px solid black;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
}

td {
    height: 5px;
    vertical-align: center;
}

th, td {
    padding: 5px;
    text-align: left;
}

#permissionLevelTD {
    text-align: center;
}