
nav {
    background-color: #333;
    display: flex;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

nav > a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav > a:hover {
    background-color: #ddd;
    color: black;
}

.loginFieldset {
    background-color: aliceblue;
    border-radius: 6px;
    border:1px solid black;
    padding-left: 50px;
    width: 200px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

}

.loginInput {
    margin-bottom: 25px;
}

#select {
    width: 100px;
    text-overflow: ellipsis;
}
.loginButon {
    padding:5px 15px;
    background:#ccc;
    border: 1px solid black;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.loginButon:hover{
    background-color: #bbb;
}

.loginLink {

    text-decoration: none;
    margin-bottom: 55px;
}

.loginFieldset > p {
    margin-bottom: 25px;
}


.userList {
    display:flex;
    flex-direction: column;
}

.fieldset {
    background-color: aliceblue;
}

.footer > a{
    display: block;
    text-align: center;
    text-decoration: none;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.success {
    padding: 20px;
    background-color: #009900; /* Green */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

#loginLogo {
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#loginTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(100px);
}